<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ng-container *showItBootstrap="['md', 'lg', 'xl']">
      <ion-searchbar #patientSearchBar animated debounce="450" placeholder="Patient Search" (ionChange)="ptSearch.onSearch($event, searchOnDrs)"></ion-searchbar>
    </ng-container>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button (click)="changeDoctor()">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ng-container *showItBootstrap="['xs', 'sm' ]">
    <ion-toolbar color="primary">
      <ion-searchbar #patientSearchBar animated debounce="450" placeholder="Patient Search" (ionChange)="ptSearch.onSearch($event, searchOnDrs)"></ion-searchbar>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <ion-button expand="full" *ngIf="ptSearch.showAddButton" (click)="newPatient()">add new patient</ion-button>

  <ng-container *showItBootstrap="['md', 'lg', 'xl']">
    <ng-container *ngIf="ptSearch.searchedPatients.size > 0">
      <ion-list>
        <ion-item>PATIENT LISTS</ion-item>
        <ng-container *ngFor="let s of ptSearch.searchedPatients | keyvalue">
          <ng-container *ngIf="s.value.Patients.length > 0">
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{s.value.Dr.compactName()}}
                </ion-col>
              </ion-row>
              <ion-row class="grid-row">
                <ion-col size="3">Patient Name</ion-col>
                <ion-col>Nick Name</ion-col>
                <ion-col>Sex</ion-col>
                <ion-col>Age</ion-col>
                <ion-col>Marital Status</ion-col>
                <ion-col>Contact</ion-col>
                <ion-col>Referred By</ion-col>
                <ion-col>Registration</ion-col>
              </ion-row>
              <ion-row class="grid-row cursor" *ngFor="let pc of s.value.Patients" (click)="patientOpen(pc)">
                <ion-col size="3">{{pc}}</ion-col>
                <ion-col>{{pc.name.nickname}}</ion-col>
                <ion-col>{{Sex[pc.sex]}}</ion-col>
                <ion-col>{{pc.singleAgeString}}</ion-col>
                <ion-col>{{MaritalStatus[pc.MaritalStatus]}}</ion-col>
                <ion-col>{{pc.contact.modile}}</ion-col>
                <ion-col>{{pc.referredby}}</ion-col>
                <ion-col>{{pc.registration}}</ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>

  <ng-container *showItBootstrap="['xs', 'sm']">
    <ng-container *ngIf="ptSearch.searchedPatients.size > 0">
      <ion-list>
        <ion-item>PATIENT LISTS</ion-item>
        <ng-container *ngFor="let s of ptSearch.searchedPatients | keyvalue">
          <ng-container *ngIf="s.value.Patients.length > 0">
            <ion-item-divider>{{s.value.Dr.compactName()}}</ion-item-divider>
            <ion-item button="true" detail="true" type="button" *ngFor="let pc of s.value.Patients" (click)="patientOpen(pc)">
              {{pc}}
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>

</ion-content>
