<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ng-container *showItBootstrap="['md', 'lg', 'xl']">
      <ion-searchbar #patientSearchBar animated debounce="450" placeholder="Patient Search" (ionChange)="onSearch($event, searchOnDrs)"></ion-searchbar>
    </ng-container>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
      <ion-button (click)="changeDoctor()">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ng-container *showItBootstrap="['xs', 'sm' ]">
    <ion-toolbar color="primary">
      <ion-searchbar #patientSearchBar animated debounce="450" placeholder="Patient Search" (ionChange)="onSearch($event, searchOnDrs)"></ion-searchbar>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <ion-button expand="full" *ngIf="ptSearch.showAddButton" (click)="newPatient()">add new patient</ion-button>

  <ng-container *showItBootstrap="['md', 'lg', 'xl']">
    <ng-container *ngIf="aptSvc.appointmentList.size > 0">
      <ion-list>
        <ion-item>APPOINTMENT LIST</ion-item>
        <ng-container *ngFor="let a of aptSvc.appointmentList | keyvalue">
          <ng-container *ngIf="a.value.Appointments.length > 0">
            <ion-grid>
              <ion-row>
                <ion-col>{{a.value.Dr}}</ion-col>
              </ion-row>
              <ion-row class="grid-row">
                <ion-col size="3">Patient Name</ion-col>
                <ion-col>Arrival Time</ion-col>
                <ion-col>Blood Pressure</ion-col>
                <ion-col>Pulse</ion-col>
                <ion-col>Age</ion-col>
                <ion-col>Contact</ion-col>
                <ion-col>Referral</ion-col>
                <ion-col>Payable</ion-col>
              </ion-row>
              <ion-row class="grid-row cursor" *ngFor="let apt of a.value.Appointments" (click)="appointmentOpen(apt, a.value.Dr)">
                <ion-col size="3">{{apt.patient}}</ion-col>
                <ion-col>{{apt.arrivalTimeString}}</ion-col>
                <ion-col>{{apt.bloodPressure}}</ion-col>
                <ion-col>{{apt.pulse}}</ion-col>
                <ion-col>{{apt.patient.singleAgeString}}</ion-col>
                <ion-col>{{apt.patient.contactMobile}}</ion-col>
                <ion-col>{{apt.patient.referredby}}</ion-col>
                <ion-col>0.00</ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>

  <ng-container *showItBootstrap="['xs', 'sm']">
    <ng-container *ngIf="aptSvc.appointmentList.size > 0">
      <ion-list>
        <ion-item>APPOINTMENT LISTS</ion-item>
        <ng-container *ngFor="let a of aptSvc.appointmentList | keyvalue">
          <ng-container *ngIf="a.value.Appointments.length > 0">
            <ion-item-divider>{{a.value.Dr}}</ion-item-divider>
            <ion-item button="true" detail="true" type="button" *ngFor="let apt of a.value.Appointments" (click)="appointmentOpen(apt, a.value.Dr)">
              {{apt.patient}}
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>

  <ng-container *showItBootstrap="['md', 'lg', 'xl']">
    <ng-container *ngIf="ptSearch.searchedPatients.size > 0">
      <ion-list>
        <ion-item>PATIENT LISTS</ion-item>
        <ng-container *ngFor="let s of ptSearch.searchedPatients | keyvalue">
          <ng-container *ngIf="s.value.Patients.length > 0">
            <ion-grid>
              <ion-row>
                <ion-col>{{s.value.Dr}}</ion-col>
              </ion-row>
              <ion-row class="grid-row">
                <ion-col size="3">Patient Name</ion-col>
                <ion-col>Nick Name</ion-col>
                <ion-col>Sex</ion-col>
                <ion-col>Age</ion-col>
                <ion-col>Marital Status</ion-col>
                <ion-col>Contact</ion-col>
                <ion-col>Referred By</ion-col>
                <ion-col>Registration</ion-col>
              </ion-row>
              <ion-row class="grid-row cursor" *ngFor="let pt of s.value.Patients" (click)="patientOpen(pt, s.value.Dr)">
                <ion-col size="3">{{pt}}</ion-col>
                <ion-col>{{pt.name.nickname}}</ion-col>
                <ion-col>{{Sex[pt.sex]}}</ion-col>
                <ion-col>{{pt.singleAgeString}}</ion-col>
                <ion-col>{{MaritalStatus[pt.MaritalStatus]}}</ion-col>
                <ion-col>{{pt.contact.modile}}</ion-col>
                <ion-col>{{pt.referredby}}</ion-col>
                <ion-col>{{pt.registration}}</ion-col>
              </ion-row>
            </ion-grid>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>

  <ng-container *showItBootstrap="['xs', 'sm']">
    <ng-container *ngIf="ptSearch.searchedPatients.size > 0">
      <ion-list>
        <ion-item>PATIENT LISTS</ion-item>
        <ng-container *ngFor="let s of ptSearch.searchedPatients | keyvalue">
          <ng-container *ngIf="s.value.Patients.length > 0">
            <ion-item-divider>{{s.value.Dr}}</ion-item-divider>
            <ion-item button="true" detail="true" type="button" *ngFor="let pt of s.value.Patients" (click)="patientOpen(pt, s.value.Dr)">
              {{pt}}
            </ion-item>
          </ng-container>
        </ng-container>
      </ion-list>
    </ng-container>
  </ng-container>

</ion-content>
