<ion-header>
  <ion-toolbar>
    <ion-title>Clearances</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="print()">Print</ion-button>
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-item>
    <ion-label position="floating">Clearance Type</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="0">CP Clearance</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <mat-form-field class="mat-full-width">
      <textarea matInput placeholder="Recommendation"></textarea>
    </mat-form-field>
  </ion-item>
</ion-content>
