ion-avatar,
ion-avatar > img {
  // border-radius: 50%;
  height: 14rem;
  margin: auto;
  width: 14rem;
}

ion-img {
  height: 14rem;
  width: 14rem;
}

ion-textarea {
  --padding-bottom: 19px;
}

.mat-full-width {
  width: 100%;
}

.mat-textarea {
  padding-bottom: 14.2px;
}
