<ion-header>
  <ion-toolbar color="secondary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ng-container *showItBootstrap="['md', 'lg', 'xl']">
      <ion-title>{{title}}</ion-title>
    </ng-container>

    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="end" name="bookmark"></ion-icon>
        <ng-container *showItBootstrap="['md', 'lg', 'xl']">
          Save
        </ng-container>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
  <ng-container *showItBootstrap="['xs', 'sm']">
    <ion-toolbar color="secondary">
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ng-container>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="2" size-lg="2" size-xl="2">
        <ng-container *showItBootstrap="['md', 'lg', 'xl']">
          <ion-img src="assets/icons/test.png"></ion-img>
        </ng-container>
        <ng-container *showItBootstrap="['xs', 'sm']">
          <ion-avatar horizontal="center">
            <ion-img src="assets/icons/User-512.png"></ion-img>
          </ion-avatar>
        </ng-container>
      </ion-col>
      <ion-col size="12" size-md="10" size-lg="10" size-xl="10">
        <ion-segment value="0" (ionChange)="vitalSegmentChange($event)">
          <ion-segment-button tabindex="-1" value="0">
            <ion-label>Profile</ion-label>
          </ion-segment-button>
          <ion-segment-button tabindex="-1" value="1">
            <ion-label>Vital Sign</ion-label>
          </ion-segment-button>
        </ion-segment>
        <div [hidden]="vitalSegment !== '0'">
          <ion-row>
            <ion-col size="12" size-md="8" size-lg="8" size-xl="8">
              <ion-item>
                <ion-label position="floating">Patient</ion-label>
                <ion-input readonly type="text" [(ngModel)]="nameLongString"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Address</ion-label>
                <ion-input readonly type="text" [(ngModel)]="completeAddress"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-md="4" size-lg="4" size-xl="4">
              <ion-item>
                <ion-label position="floating">Allergies</ion-label>
                <ion-textarea rows="4" wrap="soft" placeholder="Allergies Not Specified" [(ngModel)]="allergies"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
        <div [hidden]="vitalSegment !== '1'">
          <ion-row>
            <ion-col size="12" size-md="9" size-lg="9" size-xl="9">
              <form [formGroup]="vitalSignFB">
                <ion-row>
                  <ion-col size="6" size-md="3" size-lg="3" size-xl="3" class="ion-col-no-padding">
                    <ion-item>
                      <ion-label position="floating">Blood Pressure</ion-label>
                      <ion-input type="text" formControlName="bloodPressure"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Pulse</ion-label>
                      <ion-input type="text" formControlName="pulse"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6" size-md="2" size-lg="2" size-xl="2" class="ion-col-no-padding">
                    <ion-item>
                      <ion-label position="floating">Temperature</ion-label>
                      <ion-input type="text" formControlName="temp"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Resperation</ion-label>
                      <ion-input type="text" formControlName="resp"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6" size-md="2" size-lg="2" size-xl="2" class="ion-col-no-padding">
                    <ion-item>
                      <ion-label position="floating">Weight</ion-label>
                      <ion-input type="text" formControlName="weight"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Height</ion-label>
                      <ion-input type="text" formControlName="height"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="6" size-md="2" size-lg="2" size-xl="2" class="ion-col-no-padding">
                    <ion-item>
                      <ion-label position="floating">Waist</ion-label>
                      <ion-input type="text" formControlName="waist"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">Hip</ion-label>
                      <ion-input type="text" formControlName="hip"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-col size="12" size-md="3" size-lg="3" size-xl="3" class="ion-col-no-padding">
                    <ion-item>
                      <ion-label position="floating">BMI</ion-label>
                      <ion-input type="text" [(ngModel)]="BMI" [ngModelOptions]="{standalone:true}"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label position="floating">PT Health Status</ion-label>
                      <ion-input type="text" [(ngModel)]="PTS" [ngModelOptions]="{standalone:true}"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </form>
            </ion-col>
            <ion-col size="12" size-md="3" size-lg="3" size-xl="3">
              <ion-item>
                <ion-label position="floating">Notes</ion-label>
                <ion-textarea rows="4" wrap="soft" placeholder="No Notes" [(ngModel)]="notes"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="6" size-xl="6">
        <ion-segment value="0" scrollable="true" (ionChange)="detailsSegmentChange($event)">
          <ion-segment-button tabindex="-1" value="0">
            <ion-label>Details</ion-label>
          </ion-segment-button>
          <ion-segment-button tabindex="-1" value="1">
            <ion-label>Medication</ion-label>
          </ion-segment-button>
          <ion-segment-button tabindex="-1" value="2">
            <ion-label>Vaccine</ion-label>
          </ion-segment-button>
          <ion-segment-button tabindex="-1" value="3">
            <ion-label>Bill</ion-label>
          </ion-segment-button>
          <ion-segment-button tabindex="-1" value="4">
            <ion-label>Certificate</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [hidden]="detailsSegment !== '0'">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="3" size-lg="3" size-xl="3">
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <input type="text" placeholder="Present Complaint" matInput [formControl]="pcFC" [matAutocomplete]="pcFCAuto" (keypress)="pcFCPress($event)">
              <mat-autocomplete autoActiveFirstOption #pcFCAuto="matAutocomplete" (optionSelected)="pcOptSel($event)">
                <mat-option *ngFor="let option of pcFilteredOptions | async" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-item>
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput rows="5" [(ngModel)]="pcTextArea"></textarea>
            </mat-form-field>
          </ion-item>
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <input type="text" placeholder="Finding/Examination" matInput [formControl]="feFC" [matAutocomplete]="feFCAuto" (keypress)="feFCPress($event)">
              <mat-autocomplete autoActiveFirstOption #feFCAuto="matAutocomplete" (optionSelected)="feOptSel($event)">
                <mat-option *ngFor="let option of feFilteredOptions | async" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-item>
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput rows="5" [(ngModel)]="feTextArea"></textarea>
            </mat-form-field>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="3" size-xl="3">
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput class="mat-textarea" placeholder="Medical Notes" rows="8"></textarea>
            </mat-form-field>
          </ion-item>
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput class="mat-textarea" rows="8"></textarea>
            </mat-form-field>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="3" size-xl="3">
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <input type="text" placeholder="Current Clinical Impression" matInput [formControl]="cciFC" [matAutocomplete]="cciFCAuto" (keypress)="cciFCPress($event)">
              <mat-autocomplete autoActiveFirstOption #cciFCAuto="matAutocomplete" (optionSelected)="cciOptosel($event)">
                <mat-option *ngFor="let option of cciFilteredOptions | async" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </ion-item>
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput rows="5" [(ngModel)]="cciTextArea"></textarea>
            </mat-form-field>
          </ion-item>
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput class="mat-textarea" rows="8"></textarea>
            </mat-form-field>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="3" size-lg="3" size-xl="3">
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput class="mat-textarea" placeholder="Treatment Advice" rows="8"></textarea>
            </mat-form-field>
          </ion-item>
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <textarea matInput class="mat-textarea" rows="8"></textarea>
            </mat-form-field>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div [hidden]="detailsSegment !== '1'" style="height:40%;">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <input type="text" placeholder="Medication" matInput [formControl]="medsFC" [matAutocomplete]="medsFCAuto">
              <mat-autocomplete autoActiveFirstOption #medsFCAuto="matAutocomplete">
                <mat-option *ngFor="let option of medsFilteredOptions | async" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <ng-container *showItBootstrap="['md', 'lg', 'xl']">
              <ion-button (click)="newMeds()">New Meds</ion-button>
            </ng-container>
          </ion-item>
          <ng-container *showItBootstrap="['xs', 'sm']">
            <ion-button expand="full" (click)="newMeds()">New Medicines</ion-button>
          </ng-container>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-md="2" size-lg="2" size-xl="2">
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <mat-select laceholder="Quantity" [formControl]="medQtyFC">
                <mat-option *ngFor="let qty of medQtyList" [value]="qty">
                  {{qty}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-item>
        </ion-col>
        <ion-col size="12" size-md="10" size-lg="10" size-xl="10">
          <ion-item lines="none">
            <mat-form-field class="mat-full-width">
              <input type="text" placeholder="Sig" matInput [formControl]="medSigFC" [matAutocomplete]="medSigFCAuto" (keypress)="medSigFCPress($event)">
              <mat-autocomplete autoActiveFirstOption #medSigFCAuto>
                <mat-option *ngFor="let o of medSigFilteredOptions | async" [value]="o.instruction">{{o.instruction}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <ng-container *showItBootstrap="['md', 'lg', 'xl']">
              <ion-button (click)="addMedication()">
                <ion-icon slot="start" name="add"></ion-icon>
                Add
              </ion-button>
            </ng-container>
          </ion-item>
          <ng-container *showItBootstrap="['xs', 'sm']">
            <ion-button (click)="addMedication()">Add</ion-button>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="visit-medication-container mat-elevation-z8">
      <table mat-table [dataSource]="visitMedication">
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
        <ng-container matColumnDef="medicine">
          <th mat-header-cell *matHeaderCellDef> Medicine </th>
          <td mat-cell *matCellDef="let element"> {{element.medicine}} </td>
        </ng-container>
        <ng-container matColumnDef="sig">
          <th mat-header-cell *matHeaderCellDef> Sig </th>
          <td mat-cell *matCellDef="let element"> {{element.sig}} </td>
        </ng-container>
        <ng-container matColumnDef="qty">
          <th mat-header-cell *matHeaderCellDef> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="visitMedicationsDisplayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: visitMedicationsDisplayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div [hidden]="detailsSegment !== '2'">

  </div>

  <div [hidden]="detailsSegment !== '3'">

  </div>

  <div [hidden]="detailsSegment !== '4'">

  </div>
</ion-content>
